<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Newsfeed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border">
        <a class="navbar-brand" href="/dashboard">
            <img src="../static/images/mini_logo.jpg" width="150" height="42" class="d-inline-block align-top" alt="">
        </a>
        <form class="form-inline" action="/dashboard" method="get post">
            <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Buscar" aria-label="Search"><button><i class="fa fa-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto"></div>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active pt-2">
                    <a class="nav-link" href="/dashboard">Inicio</a>
                </li>
                <li class="nav-item active pt-2">
                    <a class="nav-link" href="/new/post">Nuevo Anuncio</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="../static/images/user.jpeg" width="45" class="avatar rounded-circle" alt="Avatar"> {{user.first_name}} <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a>
                            <a href="/settings" class="dropdown-item"><i class="fa fa-cog"></i> Configuración</a>
                            <div class="divider dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 mb-5">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <div class="feed">
                    {% for ad in ads %}
                    <div class="bg-white border mt-2">
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="../static/images/user.jpeg" width="45">
                                    <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span><span class="text-black-50 time">{{ad.time_span()}}</span></div>
                                </div>
                                <div class="p5">
                                <a href="/edit/post/{{ad.id}}">Editar     |</a>
                                <a href="/delete/post/{{ad.id}}">Borrar</a>
                                </div>
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                            </div>
                        </div>

                        <div class="justify-content-between col-15 pl-5 pt-2">
                            <div>
                            {% if filename %}
                                <div>
                                    <img src="{{ url_for('display_image', filename=filename) }}">
                                </div>
                            {% endif %}
                                <div>
                                    <label class="font-weight-bold">Estatus:</label> {{ad.status}}
                                </div>
                                <div>
                                    <label class="font-weight-bold">Resumen:</label> {{ad.summary}}
                                </div>
                                <div>
                                    <label class="font-weight-bold">Raza:</label> {{ad.breed}}
                                </div>
                                <div>
                                    <label class="font-weight-bold">Color:</label> {{ad.color}}
                                </div>
                                <div>
                                    <label class="font-weight-bold">Ubicación:</label> {{ad.location}}
                                </div>
                            </div>
                            <div class="small d-flex pt-4">
                                </div>
                                </div>
                                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="d-flex flex-start w-100">
                                    <img class="rounded-circle shadow-1-strong me-2 p-2"
                                    src="../static/images/user.jpeg" alt="avatar" width="40"
                                    height="40" />
                                    <div class="form-outline w-100">
                                    <textarea class="form-control"  placeholder="Mensaje" id="comment" rows="4"
                                        style="background: #fff;"></textarea>
                                    <label class="form-label" for="comment"></label>
                                    </div>
                                </div>
                                <div class="float-end mt-2 pt-1 pl-3">
                                    <button type="submit" class="btn btn-warning btn-sm" value="Submit">Enviar</button>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
    </html>