<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/logo" href="../static/images/logo.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border">
        <a class="navbar-brand">
            <img src="../static/images/mini_logo.jpg" width="150" height="42" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto"></div>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active pt-2">
                    <a class="nav-link" href="/dashboard">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="../static/images/user.jpeg" class="avatar rounded-circle" alt="Avatar"> {{user.first_name}} <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a>
                            <a href="/settings" class="dropdown-item"><i class="fa fa-cog"></i> Configuración</a>
                            <div class="divider dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 mb-4">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <div class="feed">
                    <div class="container mt-0 mb-5">
                        <div class="d-flex justify-content-center">
                            <div class="col-8">
                                <div class="feed">
                                    <div class="p-2 bg-white border">
                                        <div class="new-postbox d-inline-flex p-2">
                                            <figure>
                                                <img class="rounded-circle pr-1" src="../static/images/user.jpeg" width="50" alt="">
                                            </figure>
                                            <div class="ml-4">
                                                <form action="/update/post" method="post">
                                                    <h5>Ingresa los detalles de la mascota</h5> 
                                                    <div class="form-group">
                                                        <label for="status">Status:</label>
                                                        <div class="input-group-text bg-light mb-2">
                                                            <input type="radio" name="status" value="1" class="form-control-sm mr-1" id="perdido">
                                                            <label for="1" class="text-dark pr-3 pt-2">Perdido</label><br>
                                                            <input type="radio" name="status" value="2" class="form-control-sm mr-1" id="encontrado">
                                                            <label for="2" class="text-dark pr-3 pt-2">Encontrado</label><br>
                                                            <input type="radio" name="status" value="3" class="form-control-sm mr-1" id="en adopción">
                                                            <label for="3" class="text-dark pr-3 pt-2">En Adopción</label><br>
                                                        </div>
                                                        <label for="summary">
                                                            <textarea class="form-control form-control-lg mb-3" name="summary" id="summary" rows="2" placeholder="escribe un pequeño resumen" cols="100"></textarea>
                                                        </label>
                                                        <div class="justify-content-between col-15">
                                                            <div>
                                                                <div class="form-group">
                                                                    <label for="breed">Raza:</label>
                                                                    <input type="text" name="breed" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="color">Color:</label>
                                                                    <input type="text" name="color" class="form-control"></input>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="location">Ubicación:</label>
                                                                    <input type="text" name="location" class="form-control"></input>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if filename %}
                                                        <div style="padding: 20px;">
                                                            <img src="{{url_for('display_image', filename=filename)}}" alt="">
                                                        </div>
                                                        {% endif %}
                                                        <form method = "POST" enctype = "multipart/form-data">
                                                            <dl>
                                                                <p>
                                                                    <input type = "file" name = "file" class="form-control" autocomplete="off" required/>
                                                                <p>
                                                            </dl>
                                                            <p>
                                                                <input type = "submit" value="Upload" class="btn btn-warning"/>
                                                            </p>
                                                        </form> 
                                                        <ul style="list-style: none;" class="list-group list-group-horizontal d-flex flex-row-reverse">
                                                            <li>
                                                                <button type="submit" class="btn-warning">Post</button>
                                                            </li>
                                                                <li>
                                                                    <label class="btn btn-white" for="my-file-selector">
                                                                        <input id="my-file-selector" type="file" class="d-none">
                                                                        <i class="fa fa-image"></i>
                                                                    </label>
                                                                </li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="js/script.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>