<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100 bg-image"
        style="background-image: url('../../flask_app/static/images/backgroung.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-secondary text-light" style="border-radius: 10px;">
                        <div class="card-body px pr-5 pl-5 pt-5">
                            <h2 class="text-uppercase text-center mb-3">Crear Cuenta</h2>
                            <!-- {% with messages = get_flashed_messages(category_filter=['register']) %}
                                {% if messages %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>ATENTION!!!!</strong>
                                        {% for message in messages %}
                                        <p>{{message}}</p>
                                        {% endfor %}
                                </div>
                                {% endif %}
                            {% endwith %} -->
                            <form action="/register" method="post">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="name">Nombre</label>
                                    <input type="text" name="email" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="email">Correo electrónico</label>
                                    <input type="email" name="email" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password">Contraseña</label>
                                    <input type="password" name="password" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="confirm">Confirmar Contraseña</label>
                                    <input type="password" name="confirm" class="form-control form-control-lg" />
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-warning btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Crear Cuenta</button>
                                </div>
                                <div>
                                    <p class="text-center mt-3 text-light"> ¿Ya tienes cuenta? <a href="index.html"class="fw-bold text-dark">Iniciar sesión</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
</body>
</html>